/*
 * Copyright 2018, Socializing Syndicate Corp.
 */
 /*
  * Copyright 2018, Socializing Syndicate Corp.
  */
.container-events-top, .container-requests-top {
    background-image: url("../images/assets_5.28-06.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

 .container-events, .event-li  {
 background: rgba(255, 255, 255, 0);
 border: none
 }

.event-li:not(:first-of-type) {
  margin-top: -7%;
}

 .owner-image-bg {
   height: 105px;
   width: 105px;
   border-radius: 50%;
 }

 .owner-image {
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background-color: white;
   margin: 10px;
   position: absolute;
   top: 5.5%;
   left: 4%
 }

 .event-image-holder {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .event-image-bg {
   height: 160px;
   width: 160px;
   border-radius: 50%;
   position: relative;
   left: 16%;
 }

 .event-image {
   height: 93px;
   width: 93px;
   border-radius: 50%;
   background-color: white;
   margin: 10px;
   position: relative;
   top: -2px;
   left: -23.5%
 }

 .row-event-owner {
   display: flex
 }

 .event-snapshot{
   padding-top: 1%;
   margin: 10px 0 0 -10px;
   text-align: left;
 }

 .event-snapshot small {
   color: white
 }

 .row-event-info h3 {
   /* text-align: left; */
 }

 .requestButton {
   height: 20px;
   width: 140px;
   margin-right: 10px;
 }

 .eventDivider {
   width: 120%;
   height: 15px;
   margin-left: -10%;
 }

.container-new-event {
  margin-left: 40px;
  margin-right: 40px;
}

.oval {
  margin-top: -15px;
  margin-bottom: 10px;
  height: 30px;
}

@media(min-width: 400px)  {

   .event-image {
     left: -19.5%
   }
   .owner-image {
     left: 3.5%
   }
}
