/*
 * Copyright 2018, Socializing Syndicate Corp.
 */
 /*
  * Copyright 2018, Socializing Syndicate Corp.
  */
 .container-events-top {
   background-image: url("../images/assets_5.28-06.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }

 .container-events, .event-li  {
 background: rgba(255, 255, 255, 0);
 border: none
 }

 .owner-image-bg {
   height: 105px;
   width: 105px;
   border-radius: 50%;
 }

 .owner-image {
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background-color: white;
   margin: 10px;
   position: absolute;
   top: 21px;
   left: 13px
 }

 .event-image-holder {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .event-image-bg {
   height: 160px;
   width: 160px;
   border-radius: 50%;
   position: relative;
   left: 50px;
 }

 .event-image {
   height: 93px;
   width: 93px;
   border-radius: 50%;
   background-color: white;
   margin: 10px;
   position: relative;
   top: -2px;
   left: -86px
 }

 .row-event-owner {
   display: flex
 }

 .event-snapshot{
   padding-top: 1%;
   margin: 10px 0 0 -10px;
 }

 .event-snapshot small {
   color: white
 }

 .row-event-info {
   text-align: center;
 }

 .row-event-info h3 {
   text-align: left;
 }

 .requestButton {
   height: 20px;
   width: 140px;
   margin-top: -15px;
   margin-bottom: 20px;
   margin-right: 10px;
 }

 .eventDivider {
   /* margin:0; padding:0; font-size:100%; line-height:1; */
   width: 120%;
   height: 15px;
   margin-left: -10%;
 }

.container-new-event {
  margin-left: 40px;
  margin-right: 40px;
}
