/*
 * Copyright 2018, Socializing Syndicate Corp.
 */
 .home {
   height: 100%;
   margin-top: 12rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

.login-opt {
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .07em;
	border-radius: 0;
  border: 1px solid #C4E6F5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 70%;
}

.button-group {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	align-self: center;
}
