/*
 * Copyright 2018, Socializing Syndicate Corp.
 */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url("../images/assets_5.28-05.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.event-li {
  /* border-image: url(../images/bottom_line.png) 20% stretch; */
  border: none;
}

.error {
  color: tomato;
}

.container-events-top {
  background-image: url("../images/assets_5.28-06.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container-events, .event-li  {
background: rgba(255, 255, 255, 0);
}

.owner-image-bg {
  height: 105px;
  width: 105px;
  border-radius: 50%;
}

.owner-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
  position: absolute;
  top: 21px;
  left: 13px
}

.event-image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-image-bg {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  position: relative;
  left: 50px;
}

.event-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
  position: relative;
  top: -2px;
  left: -62px
}

.row-event-owner {
  display: flex
}

.event-snapshot{
  padding-top: 1%;
  margin: 10px 0 0 -10px;
}

.event-snapshot small {
  color: white
}

.row-event-info {
  text-align: center;
}

.row-event-info h3 {
  text-align: left;
}

.requestButton {
  height: 20px;
  width: 140px;
  margin-top: -15px;
  margin-bottom: 20px;
}

.eventDivider {
  /* margin:0; padding:0; font-size:100%; line-height:1; */
  width: 120%;
  height: 15px;
  margin-left: -10%;
}
