.home {
  height: 100%;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-opt {
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .07em;
	border-radius: 0;
  margin: 2rem 3rem;
}
