.nav {
  height: 55px;
  width: 100%;
  background-color: #52AEC7;
  border-bottom: 5px solid #C4E6F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav .logo {
  background-color: #52AEC7;
  height: 50px;
  width: 50px;
  margin-top: 30px;
  border-radius: 10px;
}

.nav .logo img {
  height: 55px;
  width: 55px;
  margin-left: -3px;
  margin-right: auto;
  margin-top: -2px;
}

.nav .brand {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav .brand img {
  height: 18px;
  width: 55px;
}

.nav .menu {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav .menu img {
  height: 22px;
  width: 55px;
  margin-top: 15px;
}

.dropdown {
  background-color: #52AEC7;
  opacity: 0.6;
  width: 100px;
  height: 100%;
  margin-top: -6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown ul li img {
  width: 70px;
  height: 70px;
  padding: 17px;
  border: 5px solid #D4F6F5;
  border-radius: 20px;
}
.dropdown ul {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  padding-left: 0px;
}
.dropdown li {
  list-style-type: none;
  padding: 10px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}
