/*
 * Copyright 2018, Socializing Syndicate Corp.
 */
.nav {
  height: 55px;
  width: 100%;
  background-color: transparent;
  border-bottom: 5px solid #C4E6F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
}

.nav .logo {
  background-color: #49CBF7;
  height: 50px;
  width: 50px;
  margin-top: 30px;
  border-radius: 10px;
}

.nav .logo img {
  height: 55px;
  width: 55px;
  margin-left: -3px;
  margin-right: auto;
  margin-top: -2px;
}

.nav .brand {
  margin-top: 1%;
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav .brand img {
  height: 45px;
}

.nav .menu {
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav .menu img {
  height: 45px;
  margin-top: 5px;
  margin-left: -25px;
}

.menu-div {
  position: relative;
}
.dropdown {
  position: fixed;
  /* width: 100px; */
  height: auto;
  /* opacity: 2; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
}

.dropdown ul li img {
  width: 100px;
  height: 100px;
}

.dropdown ul {
  display: flex;
  /* height: 100%;
  width: 100%; */
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0;
}

.dropdown li {
  list-style-type: none;
  /* padding: 0; */
  /* display: flex; */
  /* justify-content: space-around;
  align-items: space-around; */
}
