/*
 * Copyright 2018, Socializing Syndicate Corp.
 */
.container-requests-top {
  background-image: url("../images/assets_5.28-06.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container-requests, .event-li  {
  background: rgba(255, 255, 255, 0);
  border: none;
  margin-bottom: 20px;
}

 .owner-image-rq-bg {
   height: 105px;
   width: 105px;
   border-radius: 50%;
   position: relative;
   top: -11%
 }

 .owner-image-rq {
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background-color: white;
   margin: 10px;
   position: absolute;
   top: 5.5%;
   left: 4%
 }

.event-image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-image-rq-bg {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -16px;
}

.event-image-rq {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -11px;
  left: -16%
}

.event-image-overlap {
  margin-top: -50px;
  margin-left: -135px;
}

.buttons-overlap {
  margin-top: -45px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.screenButton {
  margin: -1px 0;
  height: 25px;
  width: 140px;
}

.event-pending {
  opacity: 0.3;
}

.event-accepted {
  opacity: 1;
}

.li-rq:first-child h4 {
  position: relative;
  top: 18%;
}

@media(min-width: 400px)  {

   .event-image-rq {
     position: relative;
     top: -1.7rem;
     left: -9.5rem
   }
   .owner-image-rq {
     top: 5.3%;
     left: 3.5%
   }
   .event-image-rq-bg {
     top: -1.6rem;
     left: -3.5rem;
   }
}
