/*
 * Copyright 2018, Socializing Syndicate Corp.
 */
.container-requests-top {
  background-image: url("../images/assets_5.28-06.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container-requests, .event-li  {
  background: rgba(255, 255, 255, 0);
  border: none
}

.event-image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-image-bg {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  left: -15px;
}

.event-image {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -1px;
  left: -86px
}

.event-image-overlap {
  margin-top: -50px;
  margin-left: -135px;
}

.buttons-overlap {
  margin-top: -45px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.screenButton {
  margin: 2px;
  height: 25px;
  width: 170px;
  border-radius: 12px;
  background-color: #CDCDCD;
  font-weight: bold;
  text-align: center;
}

.event-pending {
  opacity: 0.3;
}

.event-accepted {
  opacity: 1;
}
